/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
}

%rect-spacing {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.h-rect-spacing {
  @extend %rect-spacing;
}

.h-rect {
  @extend %rect-spacing;
  transition: border-color 400ms;

  &:hover {
    border-color: red;
  }
}
